*.o
*.so
*.out
.vscode/
build-Launcher-Desktop_Qt_5_14_2_GCC_64bit-Debug/
build-Launcher-Desktop_Qt_5_14_2_GCC_64bit-Release/
Launcher.pro.user*
test/
fsearch/
plugins_def3/
plugins_def/test/res/
plugins_def3/test/res/
